@charset "UTF-8";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, html, .mdl-layout, .mdl-layout__content, .page-content {
  color: #090909;
  background-color: #DDE3E6; }

.container--content {
  min-height: calc(100vh - 64px - 100.5px); }

.mdl-grid p {
  font-size: 120%; }

p, span, h1, h2, h3, h4, figcaption {
  font-family: "Roboto", "Open Sans", sans-serif; }

a {
  text-decoration: none; }

pre > code {
  text-color: #090909; }

p > code, li > code {
  background-color: #EFF0F1;
  padding: 2px 4px;
  font-size: 90%; }

.text--centered {
  text-align: center; }

footer .mdl-button span {
  color: black; }
footer .mdl-button i {
  line-height: 36px;
  color: black; }

.mdl-layout__header {
  background: white;
  color: rgba(0, 0, 0, 0.87); }
  .mdl-layout__header a, .mdl-layout__header .mdl-navigation__link {
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    font-family: "Helvetica","Arial",sans-serif; }
  .mdl-layout__header a.mdl-navigation__link:hover, .mdl-layout__header a.mdl-button:hover {
    border-bottom: 2px solid #FF5722; }
  .mdl-layout__header .mdl-layout__header-row {
    padding-left: 0; }

.icon {
  height: 24px;
  width: 24px; }

.text-align--center {
  text-align: center; }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.capitalize {
  text-transform: capitalize; }

.portrait {
  border-radius: 50%;
  width: 200px;
  max-height: 200px;
  margin: 0 auto;
  object-fit: cover; }

.dark {
  background-color: #424242;
  color: #FAFAFA; }
  .dark code {
    background-color: #8f8f8f; }
  .dark blockquote {
    background: #8f8f8f !important; }

.mdl-layout__header {
  background: white;
  color: rgba(0, 0, 0, 0.817); }
  .mdl-layout__header a {
    color: rgba(0, 0, 0, 0.87); }
  .mdl-layout__header .mdl-layout__header-row {
    padding-left: 0; }

img {
  max-height: 70vh;
  max-width: 100%; }

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.container--logo {
  height: 400px;
  max-height: 50%; }
  .container--logo img {
    height: 100%; }
  @media only screen and (min-width: 1025px) {
    .container--logo .mdl-layout-spacer {
      background-color: lightgray; } }

.container--content {
  width: 100%; }
  .container--content .logo {
    background-size: cover;
    height: 400px;
    max-height: 50%; }
  .container--content .title {
    min-height: 96px;
    line-height: 96px;
    text-align: center;
    margin: 0; }
    .container--content .title.accented {
      background-color: #FF5722; }
  .container--content .content {
    min-height: calc(100vh - 64px - 64px - 101px - 32px); }
  .container--content p img {
    display: block;
    margin: 0 auto; }
  .container--content .responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .container--content blockquote {
    font-size: 100%;
    background: #f9f9f9;
    border-left: 10px solid #FF5722;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’"; }
    .container--content blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em; }
    .container--content blockquote p {
      display: inline; }

.articles-list {
  list-style-type: none; }
  .articles-list li {
    background: white;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #f2f2f2, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f2f2f2, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f2f2f2, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f2f2f2, white);
    /* Standard syntax */
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    -webkit-transition: background 0.25s;
    transition: background 0.25s;
    margin-bottom: 16px;
    padding: 16px 16px 0 16px; }
    .articles-list li .article__title {
      color: black; }
    .articles-list li .article__date {
      color: #FF5722;
      font-size: 85%; }
    .articles-list li:hover {
      background: white;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, #e6e6e6, white);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #e6e6e6, white);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #e6e6e6, white);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #e6e6e6, white);
      /* Standard syntax */ }
      .articles-list li:hover .mdl-list__item-avatar i {
        color: #FF5722; }
    .articles-list li .mdl-list__item-avatar i {
      height: 50%;
      position: relative;
      top: 20%;
      left: 20%; }

/*# sourceMappingURL=article.css.map */
