{{ partial "head.html" . }}
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a href="#" onclick="history.go(-1)"><button class="mdl-button mdl-js-button"><i class="material-icons">arrow_back</i></button></a><a href={{.Site.BaseURL}}><span class="mdl-layout-title">{{.Site.Title}}</span></a><i class="mdl-cell--hide-phone material-icons">keyboard_arrow_right</i><span class="mdl-cell--hide-phone">{{.Title}}</span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <ul class="articles-list mdl-list">
              {{ range .Data.Pages }}
              <li class="mdl-list__item mdl-list__item--three-line">
                <a href="{{.Permalink}}">
                  <span class="mdl-list__item-primary-content">
                    <i class="mdl-list__item-avatar"><i class="material-icons">label</i></i>
                    <span class="article__title">{{.Title}}</span>
                    <span class="article__date">// {{.Date.Format "January 2"}}</span>
                    <span class="article__summary mdl-list__item-text-body">
                      {{.Params.summary}}
                    </span>
                  </span>
                  </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
