{{ partial "head.html" . }}
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a href={{.Site.BaseURL}}><button class="mdl-button mdl-js-button"><i class="material-icons">arrow_back</i></button></a><span class="mdl-layout-title">{{.Site.Title}}</span><i class="mdl-cell--hide-phone material-icons">keyboard_arrow_right</i><a href="/{{lower .Section}}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--hide-phone">{{.Section}}</a><i class="mdl-cell--hide-phone material-icons">keyboard_arrow_right</i><a class="mdl-cell--hide-phone"> {{.Title}}</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <article class="container--content">
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
              <h3 class="title text--centered">{{.Title}}</h3>
            </div>
          </div>
          <div class="mdl-grid mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="content mdl-cell mdl-cell--6-col">
              {{.Content}}
            </div>
            <div class="mdl-layout-spacer"></div>
          </div>
        </article>
        {{partial "footer.html" .}}
      </div>
    </main>
  </div>
</body>
