<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Contact</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="mailto:sebastian@syntaxsugar.de" title="Send me a mail!" target="_self" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="material-icons">email</i></a></li>
      <li><a href="https://github.com/kunterbunt" title="Github" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><span><img class="icon" src="/imgs/icons/github.png"/></span></a></li>
    </ul>
  </div>
    <!-- <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo">Mehr Infos</div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="http://www.slowfoodyouth.de" title="Slow Food Youth" target="_blank">Slow Food Youth</a>  </li>
        <li><a href="http://www.slowfood.de" title="Slow Food" target="_blank">Slow Food</a>  </li>
        <li><a href="http://www.slowfood-hamburg.de" title="Slow Food Hamburg" target="_blank">Convivium Hamburg</a></li>
      </ul>
    </div> -->
</footer>
