<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button"><i class="material-icons">arrow_forward</i></button>
        <a href={{.Site.BaseURL}}><span class="mdl-layout-title">
            {{.Site.Title}}
        </span></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{.Site.BaseURL}}index.xml">RSS Feed</a>
            <!-- <a class="mdl-navigation__link" href="{{.Site.BaseURL}}about">About</a>             -->
        </nav>
    </div>
</header>