<div class="article">
    <a href="{{.Permalink}}" title="{{.Params.summary}}" target="_self">
      <span class="article__date">{{.Date.Format "02/01/2006"}}</span>
      <div class="article__content">
        <div class="article__content--title-section">
          <!-- Hacky workaround to make parent link to post clickable. Nested link tricksery. -->
          <object><a href="/{{ .Section | urlize }}" class="button button--top mdl-button mdl-js-button mdl-js-ripple-effect">{{.Section}}/</a></object>
        </div>
        <h4 class="article__content--title">{{.Title}}</h4>
        {{ if (isset .Params "summary") }}
        <p class="article__content--summary">{{.Params.summary}}</p>
        {{ end }}
        {{ if and (.GetParam "showLogo") (isset .Params "logo")}}
        <div class="article__content--image" style="background: url('{{.Params.logo}}');"></div>
        {{ end }}
        <div class="tags">
          {{ range .Params.tags }}
            <span><object><a class="button button--bottom mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></object></span>
          {{ end }}
        </div>
      </div>
    </a>
  </div>
<div class="vertical-line"></div>