<div class="articles-container mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <i class="material-icons">&#xE5C5;</i>
      <div class="vertical-line vertical-line--50px"></div>
      {{ range $index, $element := .Data.Pages }}
        <!-- Ignore first element: the <tags> directory itself. -->
        {{ if (gt $index 0 )}} 
          {{ partial "post.html" . }}
        {{ end }}
      {{ end }}      
      <i class="material-icons">arrow_drop_up</i>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>